.headerContainer {
  display: flex;
  justify-content: space-between;
}
  .disableButton {
      border: 2px solid transparent;
      background-color: #eeeeee;
      color: #999999;
      margin: 1rem 0;
      padding: 0 1rem;
      font-size: 1rem;
      font-weight: 600;
  }

  button {
      background-color: #f96302;
      color: #ffff;
      margin: 1rem 0;
      padding: 0 1rem;
      font-size: 1rem;
      font-weight: 600;
  }


.headline {
  color: white;
  background-color: black;
  bottom:-150;
  height: 100%;
  text-align: right;
  padding-top: 15px;
  display: flex;
  flex-direction: columns;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
}

.headline h1 {
width: 50%;
text-align: right;
margin-left: 660px;
position: fixed;

}
.dropDown {
  background-color: white;
  color: black;
  margin-top: 25px;
  margin-right: 75px;
  position: fixed;
  right: 0;
  top: 7%;
  width: 25em;
  z-index: 500;
}

.dropDownContainer {
  margin-right: 75px;
}

.bannerContainer {
position: absolute;
text-align: center;
height: 175px;
overflow-y: hidden;
overflow-x: hidden;
align-content: center;
padding-left: 350px;
}

.banner {
  position: relative;
  height: inherit;
  width: auto;
  display: grid;
  max-width: 100%;
  max-height: auto;
  text-align: center;
}

.topBar {
  background-color: white;
  color: black;
  display:flex; 
  flex-direction:row;
  width: 100%;
  position: fixed;
  border: #61dafb;
  height: 100%;
}